@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 50% 7%;
    --foreground: 205 92% 96%;
    --card: 217 43% 14%;
    --card-foreground: 205 92% 96%;
    --popover: 217 43% 14%;
    --popover-foreground: 205 92% 96%;
    --primary: 199 94% 74%;
    --primary-foreground: 220 45% 14%;
    --secondary: 214 39% 19%;
    --secondary-foreground: 205 80% 92%;
    --muted: 214 39% 19%;
    --muted-foreground: 211 33% 60%;
    --accent: 216 91% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 36% 26%;
    --input: 215 36% 26%;
    --ring: 199 94% 74%;
    --radius: 0.75rem;
  }
}
